@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-outline {
    @apply border border-white text-white bg-transparent rounded-lg;
}
.box-shadow {
    @apply shadow-md;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgb(255, 255, 255) 0px 0px 0px 0.5px;
}